.create-restaurant{
    justify-content: center;
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img-success{
            width: 170px;
            margin-top: 60px;
        }
        .p-success{
            text-transform: uppercase;
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 60px;
            color: $secondaryColor;
        }
        .btn{
            background-color: blue;
            border-color: blue;
            padding: 10px 50px;
            min-width: 20%;
            font-family: $title-font;
            font-size: 1.25rem;
            font-weight: bold;
            text-align: center;
            border-radius: 45px;
            &:hover{
                background-color: $secondaryColor;
                color: $red;
                border-color: $secondaryColor;
            }
        }
    }
}

