
.main-admin-home {
  font-family: $primary-font;

  .sidebar {
    color: $brandColor;
    flex-basis: 25%;
    border-right: 3px solid $yellow;
    padding: 50px;

    h6  {
      font-weight: 900;
      padding: 8px 0;
    }

    .side-menu ul {
      border-left: 4px solid $brandColor;

      li {
        padding: 8px 20px;

        &:hover{
          background-color: rgba($lightBrand, 0.2);
        }
      }

      a {
        color: $brandColor;
        text-decoration: none;
        font-weight: 600;
      }
    }

  }

  .content {
    flex-basis: 75%;
    padding-top: 50px;
    // background-image: url('../img/bg_hero_home.jpg');
    // background-size: auto;
    // background-position: center;
    // background-size:cover;

    .logo {
      width: 400px;
      border-radius: 5px;
      margin: 0 auto;



      img {
        margin: 0 auto;
        border-radius: 5px;
        height: 100%;
      }

    }

    .info-risto {
      text-align: center;

      h2 {
        text-transform: uppercase;
        color: $secondaryColor;
        font-family: $title-font;
        font-size: 3.5rem;
      }

      .address,
      .p.iva,
      .phone {
        font-size: 15px;
       font-style: italic;
      }

      p {
        font-weight: bold;
      }

      .btns {
        flex-wrap: wrap;
        justify-content: center;

        .btn {
          margin: 10px 10px;
          color: $white;
          padding: 10px 30px;
          border: 1px solid $brandColor;
          border-radius: 30px;
          font-weight: bold;
          background-color: $brandColor;
        }
      }

      .delete {
        background-color: $red;
        padding: 10px 30px;
        border-radius: 30px;
        font-weight: bold;
        color: $white;
      }

    }


  }

  .empty {
    h2 {
      font-size: 3rem;
      padding-top: 80px;
    }

    p {
      font-size: 1.5rem;
    }

    a {
      color: $white;
      padding: 10px 30px;
      border: 1px solid $brandColor;
      border-radius: 30px;
      font-weight: bold;
      background-color: $brandColor;
    }
  }
}

@media screen and (max-width: 996px) {

  .main-admin-home {

    .sidebar {
      display: none;
    }

    .content {
      flex-basis: 100%;

      .logo {
        width: 90%;

        img {
          padding: 15px;
        }
      }
    }
  }
}
